@model ContinousIntegration.Models.NewStreamModel
@{
  Layout = null;
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("CreateStream", "ManageProjects", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ProjectModel</legend>
        <table width="100%">

            <tr>
                <td>@Html.LabelFor(model => model.C_StreamName,"Stream Name")</td>
                <td>
                    @Html.EditorFor(model => model.C_StreamName)
                    @Html.ValidationMessageFor(model => model.C_StreamName)
                </td>

            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.C_ProjectID,"Project Name")</td>
                <td>
                    @Html.DropDownListFor(model => model.C_ProjectID, (SelectList)ViewBag.ProjectName, "---Please Select---")
                    @Html.ValidationMessageFor(model => model.C_ProjectID)
                </td>
            </tr>
           <tr>
               <td></td>
            <td>
                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Save</span>
                </button>
            </td>
            </tr>
        </table>
    </fieldset>
}
