@model ContinousIntegration.Models.NewStreamModel

@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("UpdateStream", "ManageProjects", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ProjectModel</legend>
        @Html.HiddenFor(model => model.C_StreamID)
        <table width="100">

            <tr>
                <td>@Html.LabelFor(model => model.C_StreamName,"Stream Name")</td>
                <td>
                    @Html.EditorFor(model => model.C_StreamName)
                    @Html.ValidationMessageFor(model => model.C_StreamName)
                </td>
            </tr>
            @*<tr>
                <td>@Html.LabelFor(model => model.C_ProjectID)</td>
                <td>
                    @Html.EditorFor(model => model.C_ProjectID)
                    @Html.ValidationMessageFor(model => model.C_ProjectID)
                </td>
            </tr>*@
           
            <tr>
                <td>@Html.LabelFor(model => model.C_ProjectName,"Project Name")</td>
                <td>@Html.DropDownListFor(model=> model.C_ProjectID, (SelectList)ViewBag.ProjectName)
                    @Html.ValidationMessageFor(model => model.C_ProjectName)
                </td>
              
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <span class="ui-button-text">Update</span>
                    </button>
            </tr>
        </table>
    </fieldset>
}

