@model ContinousIntegration.Models.NewReleaseModel

@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("UpdateRelease", "ManageProjects", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ReleaseModel</legend>
        @Html.HiddenFor(model => model.C_ReleaseID)
        <table width="100">

           
            <tr>
                <td>@Html.LabelFor(model => model.C_ReleaseName,"Release Name")</td>
                <td>
                    @Html.EditorFor(model => model.C_ReleaseName)
                    @Html.ValidationMessageFor(model => model.C_ReleaseName)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.C_ProjectName, "Project Name")</td>
                <td>
                    @Html.DropDownListFor(model => model.C_ProjectID, (SelectList)ViewBag.ProjectName,new
                    {
                        @onchange = "ProjectDropDownChangeEvent(this.value)"
                    })
                    @Html.ValidationMessageFor(model => model.C_ProjectName)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.C_StreamName,"Stream Name")</td>
                <td>
                    @Html.DropDownListFor(model => model.C_StreamID, (SelectList)ViewBag.StreamName)
                    @Html.ValidationMessageFor(model => model.C_StreamName)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.C_StatusName, "Status")</td>
                <td>
                    @Html.DropDownListFor(model => model.C_StatusID, (SelectList)ViewBag.StatusName)
                    @Html.ValidationMessageFor(model => model.C_StatusName)
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">Update</span>
                </button>
            </tr>
        </table>
    </fieldset>
    <script type="text/javascript">
        function ProjectDropDownChangeEvent(projectId) {
        if (projectId != "") {
            $.ajax({
                url: '/ManageProjects/GetStreamByProject',
                type: 'GET',
                dataType: 'JSON',
                data: { ProjectID: projectId },
                success: function (data) {
                    $('#C_StreamID').empty();
                    $('<option>').text("Select").val(0).appendTo('#C_StreamID');
                    $.each(data, function (value, index) {
                        ($('<option>').text(index.Name).val(index.Id)).appendTo('#C_StreamID');
                    });
                },
                error: function (exception) {
                    var responseMessage = jQuery.parseJSON(exception.responseText);
                    alert("Message: " + responseMessage.Message);
                    alert("StackTrace: " + responseMessage.StackTrace);
                    alert("ExceptionType: " + responseMessage.ExceptionType);
                }
            });
        }
    }
</script>
}