@model ContinousIntegration.Models.Parent

@{
    ViewBag.Title = "TreeView";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h3 style="font-family:Comic Sans MS;font-size:26px;color:blue"> Development Status on All stages</h3>
            <table class="table table-condensed" id="tree-table" style="border-collapse:collapse;">
                <tr>
                    <th style="width:40%;">

                        <p style="padding-left:50px">Location <i class="fa fa-angle-right"></i> </p>
                        <div class="sepCrossLine" style=""></div>
                        Stream <i class="fa  fa-angle-down"></i>
                    </th>

                    @*Loops*@

                    @foreach (var item in Model.Project) 
                    {
                        <th>@Html.DisplayFor(modelItem => item.C_StatusName)</th>
                     
                    }
                </tr>

                @foreach (var item in Model.ProjectList)
                {
                    @*<tr data-tt-id="@item.C_ProjectID">
                        @Html.Label("", "Project Details Of")
                        <td>@Html.DisplayFor(modelItem => item.C_ProjectName)</td>
                       
                    </tr>*@

                    
                    foreach (var item1 in Model.Streams)
                    {
                        if (@item.C_ProjectID == @item1.C_ProjectID)
                        {
                            <tr data-tt-id="@item1.C_StreamID-@item.C_ProjectID" data-tt-parent-id="@item.C_ProjectID">
                                <td>@Html.DisplayFor(modelItem => item1.C_StreamName)</td>
                            </tr>
                        }

                        foreach (var item2 in Model.Release)
                        {
                            if (@item1.C_StreamID == @item2.C_StreamID && @item.C_ProjectID == @item1.C_ProjectID)
                            {
                                <tr data-tt-id="@item2.C_ReleaseID-@item1.C_StreamID-@item.C_ProjectID" data-tt-parent-id="@item1.C_StreamID-@item.C_ProjectID">
                                    <td>@Html.DisplayFor(modelItem => item2.C_ReleaseName)</td>
                                </tr>
                            }


                            foreach (var item3 in Model.SubReleases)
                            {
                                if (@item2.C_ReleaseID == @item3.C_ReleaseID && @item1.C_StreamID == @item2.C_StreamID && @item.C_ProjectID == @item1.C_ProjectID)
                                {
                                    <tr data-tt-id="@item3.C_SubReleaseID-@item2.C_ReleaseID-@item1.C_StreamID-@item.C_ProjectID" data-tt-parent-id="@item2.C_ReleaseID-@item1.C_StreamID-@item.C_ProjectID">
                                        <td>@Html.DisplayFor(modelItem => item3.C_SubReleaseName)</td>
                                    </tr>
                                }

                            }
                        }
                    }
                }

            </table>
        </div>
    </div>
</div>
@*Script for collapse*@

<script>
    $(document).ready(function () {
        $("#tree-table").treetable({ expandable: true });
    });
</script>