@model ContinousIntegration.Models.Parent

@{
    ViewBag.Title = "GetTreeView";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h3 style="font-family: 'Palatino Linotype'; font-size: 26px; color: blue"> Development Status on All stages</h3>
            <table class="table table-bordered" id="tree-table" style="border-collapse:collapse;">
                <tr>
                    <th style="width:30%;">
                        <p style="padding-left:50px">Status<i class="fa fa-angle-right"></i> </p>
                        <div class="sepCrossLine" style=""></div>
                        Stream <i class="fa  fa-angle-down"></i>
                    </th>

                    @*Loops*@

                    @foreach (var item in Model.Project)
                    {
                        <th style="width:10%;" class="text-center">@Html.DisplayFor(modelItem => item.C_StatusName)</th>
                    }
                </tr>

                @foreach (var item in Model.ProjectList)
                {
                    @*<tr data-tt-id="@item.C_ProjectID">
                            @Html.Label("", "Project Details Of")
                            <td>@Html.DisplayFor(modelItem => item.C_ProjectName)</td>

                        </tr>*@


                    foreach (var item1 in Model.Streams)
                    {
                        if (@item.C_ProjectID == @item1.C_ProjectID)
                        {
                            <tr data-tt-id="@item1.C_StreamID-@item.C_ProjectID" data-tt-parent-id="@item.C_ProjectID">
                                <td class="text-primary">@Html.DisplayFor(modelItem => item1.C_StreamName)</td>
                                <td>&nbsp;</td>
                                <td> &nbsp;</td>
                                <td> &nbsp;</td>
                                <td> &nbsp;</td>
                                <td> &nbsp;</td>
                                <td> &nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        }

                        foreach (var item2 in Model.Release)
                        {
                            if (@item1.C_StreamID == @item2.C_StreamID && @item.C_ProjectID == @item1.C_ProjectID)
                            {
                                <tr data-tt-id="@item2.C_ReleaseID-@item1.C_StreamID-@item.C_ProjectID" data-tt-parent-id="@item1.C_StreamID-@item.C_ProjectID">
                                    <td>@Html.DisplayFor(modelItem => item2.C_ReleaseName)</td>
                                    <td>&nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }


                            foreach (var item3 in Model.SubReleases)
                            {
                                if (@item2.C_ReleaseID == @item3.C_ReleaseID && @item1.C_StreamID == @item2.C_StreamID && @item.C_ProjectID == @item1.C_ProjectID)
                                {
                                    <tr data-tt-id="@item3.C_SubReleaseID-@item2.C_ReleaseID-@item1.C_StreamID-@item.C_ProjectID" data-tt-parent-id="@item2.C_ReleaseID-@item1.C_StreamID-@item.C_ProjectID" class="center-text">
                                        <td>@Html.DisplayFor(modelItem => item3.C_SubReleaseName)</td>

                                                @for (int i = 1; i <=7; i++ )
                                                {
                                                    if (@item3.C_StatusID == i)
                                                    {
                                                    <td> <span class="glyphicon glyphicon-option-horizontal text-warning" aria-hidden="true" aria-label="In Progress" title="In Progress"></span></td>
                                                     }
                                                    else if(@item3.C_StatusID < i)
                                                    {
                                                     <td> <span class="glyphicon glyphicon-exclamation-sign text-primary" aria-hidden="true" aria-label="Pending" title="Pending"></span></td>   
                                                    }
                                                    else 
                                                    { 
                                                        <td> <span class="glyphicon glyphicon-ok text-success" aria-hidden="true" aria-label="Completed" title="Completed"></span></td> 
                                       
                                                    }}
                                    </tr>
                                }

                            }
                        }
                    }
                }

            </table>
        </div>
    </div>
</div>
@*Script for collapse*@

<script>
    $(document).ready(function () {
       // $("#tree-table").treetable({ expandable: true });
        $("#tree-table").treetable({ expandable: true, clickableNodeNames: true });
    });
</script>