@model ContinousIntegration.Models.ProjectParentModel

@{
    ViewBag.Title = "GetTreeView";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h3 style="font-family: 'Palatino Linotype'; font-size: 26px; color: #E53E00"> Development Status on All stages</h3>
            <table class="table table-bordered" id="tree-table" style="border-collapse:collapse;">
                <tr>
                    <th style="width:30%;">
                        <p style="padding-left:50px">Status<i class="fa fa-angle-right"></i> </p>
                        <div class="sepCrossLine" style=""></div>
                        Stream <i class="fa  fa-angle-down"></i>
                    </th>
                    @*Loops*@

                    @foreach (var item in Model.Statuses)
                    {
                        <th style="width:10%;" class="text-center">@Html.DisplayFor(modelItem => @item.C_StatusName)</th>
                    }
                </tr>

                @foreach (var item in Model.Streams.Select(x => new { x.C_StreamName, x.C_StreamID }).Distinct())
                {
                    <tr data-tt-id="@item.C_StreamID">
                        <td class="text-primary">@Html.DisplayFor(modelItem => @item.C_StreamName)</td>
                        <td>&nbsp;</td>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    foreach (var item1 in Model.Releases.Select(x => new { x.C_ReleaseName, x.C_StreamID, x.C_ReleaseID }).Distinct())
                    {
                        if (@item1.C_ReleaseName != null)
                        {
                            if (@item.C_StreamID == @item1.C_StreamID)
                            {
                                <tr data-tt-id="@item1.C_ReleaseID-@item.C_StreamID" data-tt-parent-id="@item.C_StreamID">
                                    <td>@Html.DisplayFor(modelItem => @item1.C_ReleaseName)</td>
                                    <td>&nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                    <td> &nbsp;</td>
                                </tr>
                            }

                            foreach (var item2 in Model.SubReleases)
                            {
                                if (@item1.C_ReleaseID == @item2.C_ReleaseID && @item.C_StreamID == @item1.C_StreamID)
                                {
                                    <tr data-tt-id="@item2.C_SubReleaseID-@item1.C_ReleaseID-@item.C_StreamID" data-tt-parent-id="@item1.C_ReleaseID-@item.C_StreamID" class="center-text">
                                        <td>@Html.DisplayFor(modelItem => @item2.C_SubReleaseName)</td>

                                        @for (int i = 1; i <= 7; i++)
                                        {
                                            if (@item2.C_StatusID == i)
                                            {
                                                <td> <span class="glyphicon glyphicon-option-horizontal text-warning" aria-hidden="true" aria-label="In Progress" title="In Progress"></span></td>
                                            }
                                            else if (@item2.C_StatusID < i)
                                            {
                                                <td> <span class="glyphicon glyphicon-exclamation-sign text-primary" aria-hidden="true" aria-label="Pending" title="Pending"></span></td>
                                            }
                                            else
                                            {
                                                <td> <span class="glyphicon glyphicon-ok text-success" aria-hidden="true" aria-label="Completed" title="Completed"></span></td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        }
                    }
                }

            </table>
        </div>
    </div>
</div>
@*Script for collapse*@

<script>
    $(document).ready(function () {        
        $("#tree-table").treetable({ expandable: true, clickableNodeNames: true });
    });
</script>